header {
  background-color: #ea7979;
  color: #fff;
  padding: 20px;
}

nav ul li {
  list-style: none;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
